* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    background-color: grey;
}
/* add style to add to cart button */
.addToCart {
    background-color: rgb(249, 217, 76);
    border: none;
    padding: 8px 48px;
    font-size: 20px;
    border-radius: 30px;
}
.requestNow {
    background-color: black;
    color: white;
    border: none;
    padding: 16px 24px;
    font-weight: bold;
    border-radius: 8px;
}
.scheduleForLater {
    background-color: rgb(230, 230, 230);
    border: none;
    font-weight: bold;
    padding: 16px 24px;
    border-radius: 8px;
}
