.cost-input {
    font-size: 16px;
    padding: 10px;
}
.calculate-button {
    padding: 10px;
    border: none;
    background-color: green;
    color: white;
    font-size: 16px;
    padding: 12px;
    cursor: pointer;
}

.errorMessage {
    color: red;
}
